{% extends "base.html.twig" %}

{% block body %}

<form class = "form-container" method="POST">
    <h1> form </h1>
    <hr>
    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.answer, 'Answer') }}
        {{ form_widget(form.answer, {'attr': {'class': 'form-input'}}) }}
    </div>
 <br><br>
    <div class="form-group">
        {{ form_label(form.correct, 'Correct') }}
        {{ form_widget(form.correct, {'attr': {'class': 'form-input'}}) }}
    </div>
 <br><br>
    <div class="form-group">
        {{ form_label(form.question, 'Choice Question') }}
        {{ form_widget(form.question, {'attr': {'class': 'form-input'}}) }} 
    </div>
 <br><br>
    <div class="links">
    <button type="submit" class="form-submit">Save</button>
    <a href="/answers">List Aanswers</a>
    </di>

    {{ form_end(form) }}

</form>

{% endblock body %}
