{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <h1 class="mt-4">Create A New Answer</h1>
    {{ form_start(form)}}

     <div class="form-group">
            {{ form_label (form.question) }}
            {{ form_widget(form.question) }}
        <div class="form-error">
            {{ form_errors(form.question) }}
        </div>

        <div class="form-group">
            {{ form_label (form.answer) }}
            {{ form_widget(form.answer) }}
        <div class="form-error">
            {{ form_errors(form.answer) }}
        </div>

        <div class="form-group">
            {{ form_label (form.correct) }}
            {{ form_widget(form.correct) }}
        <div class="form-error">
            {{ form_errors(form.correct) }}
        </div>
        <div class="form-group">
         <div class="form-error">
           {{ form_row (form.submit) }}
         </div>
         
    {{ form_end(form) }}
</div>

{% endblock body %}
