{% extends "base.html.twig" %}

{% block body %}

<div class="container">
    <h1 class="mt-4">Create A New Question</h1>
    {{ form_start(form)}}

        <div class="form-group">
            {{ form_label (form.question) }}
            {{ form_widget(form.question) }}
        </div>
        <div class="form-error">
             {{ form_errors(form.question) }}
        </div>

        <div class="form-group">
            {{ form_label (form.quiz) }}
            {{ form_widget(form.quiz) }}
        <div class="form-error">
            {{ form_errors(form.quiz) }}
        </div>

         <div class="form-group">
         <div class="form-error">
           {{ form_row (form.submit) }}
         </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock body %}
