{% extends 'base.html.twig' %}

{% block title %} List Of Question {% endblock %}

{% block body%}

<body>
{# read and display several types of flash messages (" Message aprés validation") #}
  {% for label, messages in app.flashes(['success', 'warning']) %}
        {% for message in messages %}
        <div class=" alert alert-success mt-4">
            {{ message }}
        </div>
       {% endfor %}
  {% endfor %}
<div class="container mt-4">
    <h1>List Of Questions </h1>
    <p calss="new"><a href="/createQuestion"> New </a></p>
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Level Quiz</th>
      <th scope="col">Question</th>
      <th scope="col">Update</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {# Afficher le nombre de questios  #}
    <div class="count mt-4">
        <h4> There Are {{ questions.getTotalItemCount  }} Questions In Total </h4>
    </div>
  {% for question in questions %}
    <tr class="table-primary">
     
      <td>{{question.quiz.level}}</td>
      <td>{{question.question}}</td>
      <td><a href="/updateQuestion/{{question.id}}">Update</a></td>
      <td><a href="/deleteQuestion/{{question.id}}">Delete</a></td>
    </tr>
 {% endfor %}
  </tbody>
</table>
{# code pour afficher la bare des tableau #}
    <div class="navigation d-flex justify-content-center mt-4">
           {{ knp_pagination_render(questions) }}
    </div>
</div>
</body>
{% endblock %}


